    *{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        text-decoration: none;
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    #navbar1{
        position: fixed;
        top: 1rem;
        left: 50%;
        transform: translate(-50%);
        padding: 2rem 2.5rem;
        margin-bottom: 2%;  

        display: flex;
        background-color: rgb(78, 5, 53);
        border-radius: 3rem;
        border-bottom: 3px solid rgb(42, 2, 29);

        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        z-index: 1000;  
        text-decoration: none;
    }

    #nav-list {
        display: flex;
        gap: 1rem;
        list-style: none;
        cursor: pointer;
        a {
            color: aliceblue;
            font-weight: 700;
            font-size: 1.1rem;
            margin: 5px;
        }
        a:hover {
            color: rgb(238, 183, 82);
            background-color: rgb(79, 49, 2);
            border-radius: 6px;
            border-color: black;
            text-shadow: 2px 0 10px #bdef84;
        }
    }

    #logo { 
        text-wrap: nowrap;
        font-size: 1.1rem;
        font-weight: 600;
        color: rgb(238, 183, 82);

    }
    #logo:hover {
        transform: scale(1.1);
        text-shadow: 0 0 10px #0e3647;
    }

    #nav_button {   
        border-radius: 1rem;
        border-color: #38bdf8;
        cursor: pointer;

        padding: 0.5rem 1rem; 
        margin-left: 1.5rem;

        font-size: 1.2rem;
        font-weight: 500;
        
        background-color: rgb(35, 15, 3);

        color:  rgb(238, 183, 82);
    }
    #nav_button:hover {
        color:  rgb(131, 101, 45);
        text-shadow: 0 0 10px #38bdf8;
    } 
    
    #parent {
        margin-top: 10%;
        gap: 3rem;
        
        padding: 8rem, 12%;
        position: relative;

        background-color: azure;
        border: 2px solid wheat; 
        justify-content: center;
        align-items: center;
    }
    #about-div{
        display: flex;
        position: relative;
        justify-content: center;
        gap: 4rem;
        padding-bottom: 3rem;

     }
/* 
    #parent, #about-div {
        flex: 1;
        padding: 2px;
        border: 1px solid #ccc;
        flex-direction: column;
    }  */

    .loaded-image {
        width: 30vw;
        border-radius: 50%;
        margin:auto;
        padding: auto;
    } 
    #text{
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        text-align: center;
        align-content: center;
        justify-content: center;

        h1{
            font-size: 1.5rem;
            font-weight: 900;
        }
        h2{
            font-size: 1.5rem;
            font-weight: 600;
        }
        span {
            background: linear-gradient(to right, rgb(255,0,255), rgb(0,157,255));
            font-size: 1.1rem;
            font-weight: 800;
            background-clip: text;
            color: transparent; 
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: black;
        }
        #cv-button{
            border-radius: 2rem;
            padding: 0.5rem 1.2rem;
            border: 2px solid black; 
        }

    }

 #section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
 }
 #experience-info{
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: flex;
 }
 #experience-info img{
    width: 60vw;
    border-radius: 3rem;
 } 
 #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
 }
 #experience-cards {
    align-items: baseline;
    justify-content: left;

    display: flex;
    flex-direction: column;

    padding: 3rem;
    border-radius: 8px;
    border: 2px solid black;

    span{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    h3{
       margin-bottom: 1.5rem;  
    }
    span{
        font-weight: 500;
        background: linear-gradient(to right, rgb(255,0,255), rgb(0,157,255));
        background-clip: text;
        color: transparent; 
    }
 }
#experience-cards:hover{
    transform: scale(1.05);
    span{
        background: linear-gradient(to left, rgb(189, 223, 95), rgb(0,157,255));
        background-clip: text;
        color: transparent; 
    };
} 

#p-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#project-cards{
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1rem;
    border-radius: 1.8rem;
    border: 2px solid black;
    
    h2{
        background: linear-gradient(to right, rgb(255,0,255), rgb(0,157,255));
        background-clip: text;
        color: transparent; 
    }

    #project_button{
        border-radius: 1rem;
        border-color: #38bdf8;
        cursor: pointer;

        padding: 0.5rem 0.5rem; 
        margin-left: 1.5rem;

        font-size: 1rem;
        font-weight: 500;

        color:  rgb(238, 183, 82); 
    }
    .projectimg{
        width: 20vw;
        border-radius: 1rem;
        border: 2px solid black;
    }
}
#project-cards:hover {
    transform: scale(1.02);
    h2{
        background: linear-gradient(to left, rgb(189, 223, 95), rgb(0,157,255));
        background-clip: text;
        color: transparent;
    }
    #project_button{
        color:  rgb(0, 0, 0);
        font-weight: 800;
        border: 3px solid black;

    }
}

#input-box{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
    
    #input{
        position: relative;
    }

    input{
        border-radius: 3rem;
        border: 2px solid black;
        padding:2rem 6rem;
        font-size: 2rem;
    }
}
footer{
    bottom: 0; left: 0;
    height: 10rem; width: 100%;
    display: flex; flex-direction: column;
    gap: 1rem;
    align-items: center; justify-content: center;
    color: black;
    ul{
        display: flex; align-items: center;
        gap: 3rem;
    }
    li, a {
        font-weight: 600;
        color: #000;
    }
    
}

#copyright{
    font-weight: 600;
    color: #000;
    margin-top: 2rem;
}


@media (max-width: 1280px) {
    #navbar1{
        padding: 1rem 2rem;
        gap: 1rem;
    }
    #parent #about-div{
        gap: 3rem;
    }
    #experience-info{
        flex-direction: column;
    }
    #input-box input {
        padding: 2rem 4rem;
        font-size: 1rem;
    }

    
}
@media (max-width: 768px) {
    #navbar1{
        padding: 1rem 1rem;
        gap: 0.5rem;
        
        #nav_button{
            display: none;
        }
    }
    #first-p {
        display: none;
    }
    
    #input-box input {
        padding: 1rem 3rem;
        font-size: 1.5em;
    }

    #grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #experience-info img{
        display: none;
    }
}
@media (max-width: 600px) {
    #navbar1{
        display: block;
        padding-bottom: 1rem;
    }
    #nav-list{
        display: none;
    }
    .loaded-image{
        width: 80vw;
    }
    #about-div{
        padding: 1rem;
    }

    #project{
        padding: 1rem;
    }    
    #project-cards{
        padding: 1rem 1rem;
    }

    #p-grid{
        grid-template-columns: 1fr;
    }

    #text{
        gap: 0.6 rem;
    }
    #input-box input {
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .projectimg{
        display: none;
    }

    

}