#parent {
    background-color: azure;
    border: 2px solid wheat; 
}
#navbar1{
    width: 100%;
    background-color: blanchedalmond;

    padding-left: 15px;
    margin-bottom: 15px;

}


#navdiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(228, 121, 192);
    
}

#list {
    display: flex;
    gap: 15px;
    list-style: none;

    buttons{
        width: auto;
    }
    li {
    
        background-color: rgb(121, 210, 127);
        border-radius: 10px;

        margin-left: 10px;
        margin-right: 12px;
    }
    a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: aliceblue;
        font-weight: 700;
        font-size: 18px;
    }
    a:hover {
        color: #bcd6ed;
        text-shadow: 0 0 10px #38bdf8;
    }
}

#logo { 

    border-radius: 12px;
    border-color: black;

    a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        color: white
    }
    a:hover {
        color: #bcd6ed;
        text-shadow: 0 0 10px #38bdf8;
    }
}
#buttons {
    button { 
        border-radius: 12px;
        border-color: #38bdf8;
        padding: 15px 32px; 
        font-size: 65px;
        font-weight: 600;
        
        background-color: rgb(215, 79, 79);

        color: rgb(54, 219, 65);
    }    
    button:hover {
        color: #254561;
        text-shadow: 0 0 10px #38bdf8;
    } 
}  
    