    *{
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        text-decoration: none;
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #navbar1{
        position: fixed;
        top: 1rem;
        left: 50%;
        transform: translate(-50%);
        padding: 0.5rem 1.5rem;
        margin-bottom: 2%;  

        display: flex;
        background-color: rgb(228, 121, 192);
        border-radius: 3rem;
        border-bottom: 3px solid oklab(56.44% 0.1134 -0.03815);

        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        z-index: 1000;  
        text-decoration: none;
    }


    #nav-list {
        display: flex;
        gap: 1rem;
        list-style: none;
        cursor: pointer;
        a {
            color: aliceblue;
            font-weight: 700;
            font-size: 1.1rem;
            margin: 5px;
        }
        a:hover {
            color: #ffffff;
            background-color: rgb(48, 142, 54);;
            border-radius: 6px;
            border-color: black;
            text-shadow: 2px 0 10px #93f226;
        }
    }

    #logo { 
        text-wrap: nowrap;
        font-size: 1.1rem;
        font-weight: 600;
        color: rgb(52, 23, 23);

    }
    #logo:hover {
        transform: scale(1.1);
        text-shadow: 0 0 10px #0e3647;
    }

    #nav_button {   
        border-radius: 1rem;
        border-color: #38bdf8;
        cursor: pointer;

        padding: 0.5rem 1rem; 
        margin-left: 1.5rem;

        font-size: 1.2rem;
        font-weight: 500;
        
        background-color: rgb(233, 104, 24);

        color: rgb(54, 219, 65);
    }
    #nav_button:hover {
    color: #5194cf;
    text-shadow: 0 0 10px #38bdf8;
    } 
    
    #parent {
        margin-top: 10%;
        min-height: 100vh;
        padding: 8rem, 12%;
        width: 100%;
        position: relative;
        background-color: azure;
        border: 2px solid wheat; 

        /* display: flex;
        position: relative;
        justify-content: center; */
    } 
    #about-div{
        display: flex;
        position: relative;
        justify-content: center;
  
    }
    #text, #about-div {
        flex: 1;
        padding: 2px;
        border: 1px solid #ccc;
        gap: 4rem;
    }

    .loaded-image {
        width: 60%;
        height: 40%;
        object-fit:cover;
        display: block;
    } 
